
.navi {
  display:inline-block;
  font-size: 12px;
  font-family: sans-serif;
}

.profilePost {
  width:88%;
   margin:auto;
}

.createPost {
  margin: 2%;max-width: 320px;display:inline-block; width: 28%; height: 200px;border-radius:5px; background-color:#ddd;
}
