{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block header %}

<div class="page-banner row" id="headerHome">
    <div class="page-banner-wraper">
        <div>
            <h1 class="home-title">Find Your Best-Fit Partner</h1>
            <p class="home-content">Online learning programs are becoming increasingly popular with college
                students, adults, and anyone wanting to learn more.</p>
        </div>

        <div class="search-bar" style="width:60%; position:absolute; left:50%;margin-left:-30%;top: 76vh; font-family: 'Raleway', sans-serif;">
            <form role="search" method="get" action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="✎ &nbsp &nbsp Which team/client are you looking for..."
                        style="height:55px;border-radius: 0;border:0.5px solid rgba(0,0,0,0.1);z-index:1;box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);">
                    <span class="input-group-btn" id="drop-box">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-hdd-o"></i>&nbsp &nbsp
                            <span id="dropdown_title">All Teams</span>&nbsp &nbsp
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" id="dropdown-items">
                            <li><a href="#">All Teams</a></li>
                            <li><a href="#">All Clients</a></li>
                        </ul>
                    </span>
                    <span class="input-group-btn" id="search-button">
                        <button class="btn btn-default" type="button">SEARCH</button>
                    </span>
                </div>
            </form>
        </div>

    </div>
</div>


{% endblock %}

{% block content %}

<div class="home-page" id="home">
    <div class="user-consent-wraper">
        <div>
            <h3 class="about-survey">About Our Survey</h3>
            <p class="survey-description">Online learning programs are becoming increasingly popular with college
                students, adults, and anyone wanting to learn more. This survey is hoped to get student feedback in
                order to ensure our courses are achieving students' learning goals.<br><br>
                <span>The survey should take about 10 minutes to complete.</span> We will not collect any information
                that will make it possible to trace your participation back to you and will not share your
                participation with anybody outside of the survey team. We will keep your participation private to the
                extent allowable by law.<br><br> Participation in this project is voluntary. Your decision whether or
                not to participate will not affect your current or future relations with your online learning program.
                If you decide to participate, you are free to not answer any question or withdraw at any time.<br><br>
                If you have questions, you are encouraged to contact us via email: hypothesis@survey.com. Thank you!<br>
            </p>
        </div>
    </div>
    <div class="choose-btns">
        <a class="consent-btn" href="">consent</a>
        <a class="decline-btn" href="">decline</a>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <div style="background-color: rgba(0,0,0,0.1); padding: 50px">

    </div>
</div>



{% endblock %}