{% extends 'base.html' %}

{% block title %}home{% endblock %}

{% block header %}

<div class="page-banner" id="headerHome">
    <div class="page-banner-wraper">
        <div>
            <p class="survey-team">hypothesis survey</p>
            <h2 class="survey-title">Online Learning Program Evaluation Survey</h2>
        </div>
    </div>
</div>


{% endblock %}

{% block content %}

<div class="user-consent" id="home">
    <div class="user-consent-wraper">
        <div>
            <h3 class="about-survey">About Our Survey</h3>
            <p class="survey-description">Online learning programs are becoming increasingly popular with college
                students, adults, and anyone wanting to learn more. This survey is hoped to get student feedback in
                order to ensure our courses are achieving students' learning goals.<br><br>
                <span>The survey should take about 10 minutes to complete.</span> We will not collect any information
                that will make it possible to trace your participation back to you and will not share your
                participation with anybody outside of the survey team. We will keep your participation private to the
                extent allowable by law.<br><br> Participation in this project is voluntary. Your decision whether or
                not to participate will not affect your current or future relations with your online learning program.
                If you decide to participate, you are free to not answer any question or withdraw at any time.<br><br>
                If you have questions, you are encouraged to contact us via email: hypothesis@survey.com. Thank you!<br>
            </p>
        </div>
    </div>
    <div class="choose-btns">
        <a class="consent-btn" href="">consent</a>
        <a class="decline-btn" href="">decline</a>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>


    <div style="background-color: rgba(0,0,0,0.1); padding: 50px">

    </div>
</div>



{% endblock %}